<% include partials/header %>

<h1>Add a new list:</h1>

<form action="/lists" method="POST">
    <input type="text" placeholder="Title" name="list[title]">
    <div>
        <input type="text" placeholder="Date" name="list[date]">
    </div>
    
    <div>
        <textarea type="text" placeholder="Content" name="list[content]"></textarea>
    </div>
    
    <button>Submit</button>
</form>

<% include partials/footer %>