<% include partials/header %>

<h1 class="main_title">The shopping lists</h1>

<% lists.forEach(function(list) { %>
    <div class="main_border">
        <h3><%=list.title%></h3>
        <h5><%=list.date%></h5>
        <p><%=list.content%></p>
        <button><a href="/lists/<%=list._id%>">Edit/Delete List</a></button>
    </div>

<% }); %>

<div class="main_button">
    <button><a href="/lists/new">Add a new list</a></button>
</div>

<% include partials/footer %>